section{
    background-size: cover;
}
.slider{
    overflow-x: auto;
}
img{
    border-radius: 15px;
}
figure{
    padding: 10px;
    cursor: pointer;
}

.slider-card{
    background-color:rgb(10, 10, 60) ;
}
.Recommendations-container{
    background-color:rgb(10, 10, 60) ;

}