section{
    background-size: cover;
}
.slider{
    overflow-x: auto;
}
figure img{
    border-radius: 15px;
}
figure{
    padding: 10px;
    cursor: pointer;
}

.slider-card{
    background-color:rgb(10, 10, 60) ;
}
.Recommendations-container{
    background-color:rgb(10, 10, 60) ;
}
.rating-circle {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: #081c22;
  color: white;
  font-size: 12px;
  font-weight: bold;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 2px solid #21d07a; // green border for visual rating
}

.rating-circle:hover{
    transform: scale(1.2);
}
