section{
    background-size: cover;
}
.slider{
    overflow-x: auto;
}
figure img{
    border-radius: 15px;
}
figure{
    padding: 10px;
    cursor: pointer;
}

.slider-card{
    background-color:transparent;
}
.Recommendations-container{
    background-size: cover;
}
.hide-scrollbar {
  overflow: auto;
  scrollbar-width: none; 
  -ms-overflow-style: none; 
}

.hide-scrollbar::-webkit-scrollbar {
  display: none; 
}
.details-container{
    background-size: cover;
}
.rating-circle {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: #081c22;
  color: white;
  font-size: 12px;
  font-weight: bold;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 2px solid #21d07a; 
}
.logo-container{
    background-color: rgba(0, 255, 255 , 0.3);
    border-radius: 12px;
}
.rating-circle:hover{
    transform: scale(1.2);
}


.tooltip-box {
  font-size: 12px;
  white-space: nowrap;
  pointer-events: none;
}
.details div:hover{
    transform: scale(1.1);
}
section{
    padding-top: 80px;
}
.reviews h2{
    color: rgba(10, 10, 60 , 0.7) ;
}
.review-content p{
  display: -webkit-box;
  -webkit-line-clamp: 5;
  -webkit-box-orient: vertical;
  overflow: hidden;
}
.avatar-path img{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    
}
.user-logo{
        width: 50px;
        height: 50px;
        display: flex;
        justify-content: center;
        align-items: center;
        
    }