header{
    background-color: rgb(10, 10, 60);
    padding: 15px 0;

}
small{
    left: -12px;
    top: -5px;
    background-color: rgb(54, 54, 88);
    width: 20px;
    height: 20px;
    border-radius: 50%;
    color: white;
    text-align: center;
}