figure img {
    width: 150px;
    height: 230px;
    border-radius: 20px;
}

p.clamp {
    display: -webkit-box;
    -webkit-line-clamp: 4;
    line-clamp: 4;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
}
.watch-card{
    box-shadow: 0 4px 8px rgba(0, 0, 0, 1);
}
img:hover{
    transform: scale(1.1);
    overflow: hidden;
}
.btn-outline-danger{
    padding:0 5px !important;
}
section{
    background-color: rgb(10, 10, 60);
    height: auto;
    margin-top: 15px;
    color: white;
}
.watchlist-null{
    height: 80vh;
}
.rating-circle {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: #081c22;
  color: white;
  font-size: 12px;
  font-weight: bold;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 2px solid #21d07a; // green border for visual rating
}

.rating-circle:hover{
    transform: scale(1.2);
}