<section class="py-4">
    <div class="container">
        <h2>Watchlist</h2>
        <div class="row">
            <div *ngIf="movies.length===0" class="d-flex justify-content-center align-items-center text-center flex-column watchlist-null">
                <div>
                    <img  src="assets/images/Group.png" alt="Group">
                </div>
                <div>
                    <p>No Movies in watch list </p>
                    <button [routerLink]="'/'" class="btn btn-outline-warning ">go to home</button>
                </div>
            </div>
            @for(movie of movies ;track movie.id)
            {
            <div class="col-md-6 d-flex p-2  ">
                <div class="d-flex gap-3 p-4  rounded-5  watch-card">
                    <figure (click)="goToDetails(movie.id)">
                        <img [src]="'https://image.tmdb.org/t/p/w500'+ movie.poster_path" alt="">
                    </figure>
                    <div class="d-flex flex-column ">
                        <div class="">
                                <h2>{{movie.title}}</h2>
                                <time>{{movie.release_date | date}}</time>
                        </div>
                        <div>
                            <i class="fa-solid fa-star"></i>
                        </div>
                        <div>
                            <p class="clamp">{{movie.overview}}</p>
                            <button (click)="removeFromList(movie)" class="btn btn-outline-danger">Remove</button>
                        </div>
                    </div>
                </div>
            </div>
            }

        </div>
    </div>
</section>