<app-search></app-search>
<section>
    <div class="container-fluid">
        <h2>Now Playing</h2>
        <div class="row">
            @for(movie of movies();track movie.id){
            <div class="col-md-3 col-sm-4 card col-lg-2">
                <figure class="position-relative">
                    <img [src]="'https://image.tmdb.org/t/p/w500'+movie.poster_path" [alt]="movie.title"
                        (click)="goToDetails(movie.id,'movie')">
                    <div class="rating-circle" [ngStyle]="{ 'border-color': getRatingColor(movie.vote_average) }">
                        <span>{{ movie.vote_average * 10 | number:'1.0-0' }}%</span>
                    </div>

                </figure>
                <div class="d-flex flex-column">
                    <h5 class="pt-2">{{movie.title}}</h5>
                    <div class="d-flex justify-content-between position-relative bottom-0 ">
                        <data class="mt-auto"> {{movie.release_date | date}}</data>
                        <div>
                            <i *ngIf="!isInList(movie.id)" class="fa-regular fa-heart mt-auto"
                                (click)="toggleWatchlist(movie)"></i>
                            <i *ngIf="isInList(movie.id)" class="fa-solid fa-heart"
                                (click)="toggleWatchlist(movie)"></i>
                        </div>
                    </div>
                </div>
            </div>
            }

        </div>

        <div class="d-flex justify-content-center mt-4">
      <ngb-pagination
        [collectionSize]="totalResults()"
        [(page)]="currentPage"
        [pageSize]="20"
        (pageChange)="onPageChange($event)"
        [maxSize]="5"
        [rotate]="true"
        [ellipses]="true"
        [boundaryLinks]="true">
      </ngb-pagination>
    </div>
    </div>
</section>