<app-search></app-search>
<section>
    <div class="container-fluid">
        <h2>Now Playing</h2>
        <div class="row">
            @for(movie of movies();track movie.id){
            <div class="col-md-3 col-sm-4 card col-lg-2" *ngIf="movie?.poster_path && !movie?.adult">
                <figure class="position-relative">
                    <img [src]="'https://image.tmdb.org/t/p/w500'+movie.poster_path" [alt]="movie.title"
                        (click)="goToDetails(movie.id,'movie')">
                    <div class="rating-circle" [ngStyle]="{ 'border-color': getRatingColor(movie.vote_average) }">
                        <span>{{ movie.vote_average * 10 | number:'1.0-0' }}%</span>
                    </div>

                </figure>
                <div class="d-flex flex-column">
                    <h5 class="pt-2">{{movie.title}}</h5>
                    <div class="d-flex justify-content-between position-relative bottom-0 ">
                        <data class="mt-auto"> {{movie.release_date | date}}</data>

                        
                        <div class="position-relative" (mouseenter)="hoveredMovieId.set(movie.id)"
                            (mouseleave)="hoveredMovieId.set(null)">

                            
                            <div *ngIf="!isLoggedIn() && hoveredMovieId() === movie.id"
                                class="tooltip-box position-absolute bg-dark text-white px-2 py-1 rounded small"
                                style="top: -30px; right: 0; z-index: 10;">
                                Login to add to watchlist
                            </div>

                            
                            <i class="mt-auto" [class.fa]="true" [class.fa-regular]="!isInList(movie.id)"
                                [class.fa-solid]="isInList(movie.id)" [class.fa-heart]="true"
                                (click)="onWatchlistClick(movie)">
                            </i>
                        </div>

                    </div>
                </div>
            </div>
            }

        </div>

        <div class="d-flex justify-content-center mt-4" >
            <ngb-pagination [collectionSize]="totalResults()" [(page)]="currentPage" [pageSize]="20"
                (pageChange)="onPageChange($event)" [maxSize]="5" [rotate]="true" [ellipses]="true"
                [boundaryLinks]="true">
            </ngb-pagination>
        </div>
    </div>
</section>