<section class="">
    <form (ngSubmit)="onSearch()" #searchForm="ngForm">
            <search class="d-flex gap-2 py-3">
                <input class="form-control " type="search" placeholder="Search and explore...." [value]="searchService.userQuery()" (input)="searchService.userQuery.set($any($event.target).value)">
            </search>
        </form>
    <div class="container-fluid">
        <div>
            <p class="fs-5 fw-bold"> <span class="fs-1"> Welcome. <br></span>
                Millions of movies, TV shows and people to discover. Explore now.</p>
        </div>
        <form (ngSubmit)="onSearch()" #searchForm="ngForm">
            <search class="d-flex gap-2 py-3">
                <input class="form-control " type="search" placeholder="Search and explore...." [value]="searchService.userQuery()" (input)="searchService.userQuery.set($any($event.target).value)">
                <button type="submit" class="btn btn-outline-info" >Search</button>
            </search>
        </form>
    </div>
</section>